body {
	background: url('../img/top_header.png') no-repeat center top;
	background-size: 100% auto;
	background-color: #e5e8e6;
}

/**********
HEADER
***********/
header {
	padding: 65px 0 35px;
}
header h1 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: lighter;
	padding: 70px 0 30px;
	font-size: 30px;
}
header h1:after {
	content: "Prueba Coordinate Antes Que Nadie"
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}
header h1>span {
	background: -webkit-linear-gradient(0deg, #ef4123, #f1d736);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	color: #f0892c;
	font-weight: 200;
}
header img {
	margin: 0 auto;
}
header h1 {
	text-align: center;
}


/**********
INTRO
***********/
.intro {
	padding: 20px 0;
	text-align: center;
}
.intro h2 {
	font-size: 24px;
	color: #237cc6;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 10px 0;
}
.intro p,
.intro ul {
	color: #313131;
	font-size: 18px;
}
.intro p>span {
	color: #225789;
	font-weight: bold;
}
.intro ul {
	list-style: none;
}
.intro .left-intro,
.intro .right-intro {
	padding: 30px 0;
}
.intro .left-intro h3,
.intro .right-intro h3 {
	font-size: 18px;
	color: #237cc6;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.intro .right-intro ul,
.intro .left-intro ol {
	font-size: 14px;
	padding-left: 0;
	text-align: left;
}
.intro .left-intro ol {
	padding-right: 40px;
}
.intro .right-intro ul {
	padding-left: 40px;
}


/**********
SIMPLE CALL TO ACTION
***********/
.cta {
	padding: 45px 0;
	background: rgba(255,255,255, 0.3);
}
.cta .btn.btn-info {
	background: #3398db;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	margin: 0 auto;
	width: 300px;
	display: block;
	border-bottom: 3px solid #2672A4;
}


/**********
METHODOLOGY
***********/
.methodology {
	padding: 40px 0;
}
.methodology h3 {
	font-size: 18px;
	color: #237cc6;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 10px 0;
	text-align: center;
}
.methodology p {
	font-size: 16px;
	color: #313131;
	text-align: center;
}
.methodology h5 {
	font-size: 16px;
	font-weight: bold;
	color: #237cc6;
	border: 2px solid #237cc6;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 5px 9px;
}
.methodology h4 {
	color: #237cc6;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}
.methodology .steps {
	color: #313131;
	font-size: 15px;
	text-align: left;
}


/**********
TEAM
***********/
.team {
	padding: 40px 0 50px;
}
.team h3 {
	font-size: 18px;
	color: #237cc6;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 10px 0;
	text-align: center;
}
.team p {
	font-size: 16px;
	color: #313131;
	text-align: center;
}
.team img,
.team h4 {
	display: inline-block;
}
.team img {
	padding: 10px 0;
}
.team h4 {
	font-size: 15px;
	font-weight: normal;
	margin-left: 15px;
}


/**********
CALL TO ACTION BLOCK
***********/
.cta-block {
	padding: 55px 0;
	background: rgba(255,255,255, 0.3);
}
.cta-block p {
	font-size: 18px;
	color: #313131;
	text-align: center;
}
.cta-block h5 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.cta-block .btn.btn-info {
	background: #3398db;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	width: 300px;
	display: block;
	border-bottom: 3px solid #2672A4;
	margin: 45px auto 0;
}


/**********
FORM
***********/
.form {
	padding: 25px 0 45px;
	background: #237cc6;
}
.form h3 {
	font-size: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px 0;
}
.form p {
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.form .btn.btn-default {
	background: #fff;
	font-size: 16px;
	text-transform: uppercase;
	color: #3398DB;
	letter-spacing: 2px;
	width: 300px;
	display: block;
	border-bottom: 3px solid #bfbfbf;
	margin: 45px auto 0;
}


/**********
MEDIA QUERIES
***********/

@media screen and (max-width: 768px) {
	body {
		background-size: auto 15%;
	}
	header {
		padding: 30px 0;
	}
	header h1 {
		padding: 35px 0 20px;
		font-size: 20px;
	}
	* {
		text-align: center;
	}
}